{% load static %}
<!-- Place favicon.ico in the root directory -->
   <link rel="apple-touch-icon" href="{% static 'assets/img/favicon.png' %}">
   <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

   <!-- CSS here -->
   <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/font-awesome-pro.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/flaticon_gerold.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/backToTop.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/odometer-theme-default.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/light-mode.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup/dist/magnific-popup.css">
