<!-- start: Portfolio Popup -->
      <div id="portfolio-wrapper" class="popup_content_area zoom-anim-dialog mfp-hide">
         <div class="popup_modal_img">
            <img src="assets/img/portfolio/modal-img.jpg" alt="">
         </div>

         <div class="popup_modal_content">
            <div class="portfolio_info">
               <div class="portfolio_info_text">
                  <h2 class="title">استدیو دی</h2>
                  <div class="desc">
                     <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                     </p>
                  </div>
                  <a href="#" class="btn tj-btn-primary">پیش نمایش زنده <i class="fal fa-arrow-right"></i></a>
               </div>
               <div class="portfolio_info_items">
                  <div class="info_item">
                     <div class="key">دسته بندی</div>
                     <div class="value">طراحی وبسایت</div>
                  </div>
                  <div class="info_item">
                     <div class="key">مشتری</div>
                     <div class="value">استدیو آرت بورد</div>
                  </div>
                  <div class="info_item">
                     <div class="key">تاریخ شروع</div>
                     <div class="value">اردیبهشت ماه ، سال 1403</div>
                  </div>
                  <div class="info_item">
                     <div class="key">طراح</div>
                     <div class="value"><a href="#">راوی جی وی</a></div>
                  </div>
               </div>
            </div>

            <div class="portfolio_gallery owl-carousel">
               <div class="gallery_item">
                  <img src="assets/img/portfolio-gallery/p-gallery-1.jpg" alt="">
               </div>
               <div class="gallery_item">
                  <img src="assets/img/portfolio-gallery/p-gallery-2.jpg" alt="">
               </div>
               <div class="gallery_item">
                  <img src="assets/img/portfolio-gallery/p-gallery-3.jpg" alt="">
               </div>
               <div class="gallery_item">
                  <img src="assets/img/portfolio-gallery/p-gallery-4.jpg" alt="">
               </div>
            </div>

            <div class="portfolio_description">
               <h2 class="title">توضیحات پروژه</h2>
               <div class="desc">
                  <p>
                     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>

                  <p>
                     لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                  </p>
               </div>
            </div>

            <div class="portfolio_story_approach">
               <div class="portfolio_story">
                  <div class="story_title">
                     <h4 class="title">خلاصه پروژه</h4>
                  </div>
                  <div class="story_content">
                     <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                     </p>
                  </div>
               </div>
               <div class="portfolio_approach">
                  <div class="approach_title">
                     <h4 class="title">عملکرد ما</h4>
                  </div>
                  <div class="approach_content">
                     <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                     </p>
                  </div>
               </div>
            </div>

            <div class="portfolio_navigation">
               <div class="navigation_item prev-project">
                  <a href="#" class="project">
                     <i class="fal fa-arrow-left"></i>
                     <div class="nav_project">
                        <div class="label">پروژه قبلی</div>
                        <h3 class="title">سباستین</h3>
                     </div>
                  </a>
               </div>

               <div class="navigation_item next-project">
                  <a href="#" class="project">
                     <div class="nav_project">
                        <div class="label">پروژه بعدی</div>
                        <h3 class="title">ساخت اپکیشین</h3>
                     </div>
                     <i class="fal fa-arrow-right"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- end: Portfolio Popup -->